[submodule "modbus"]
	path = modbus
	url = https://gitlab.pozhgazpribor.ru/firmware/submodules/modbus.git
[submodule "lpcdrivers"]
	path = lpcdrivers
	url = https://gitlab.pozhgazpribor.ru/firmware/submodules/lpcdrivers.git
[submodule "eeprom"]
	path = eeprom
	url = https://gitlab.pozhgazpribor.ru/firmware/submodules/eeprom.git
